.root {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.signin {
    width: 125px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.button {
    display: flex;
    margin-top: 12px;
}
