/* .hidden {
    display: none;
} */

/* .nav {
    display: flex;
    flex-direction: column;
} */

.profile-dropdown.hidden {
    display: none;
}

/* .profile-dropdown {
    display: flex;
    flex-direction: column;
    color: red;
} */
